*
{
 margin:0;
 padding:0;
 font-size: 16px;
}

body
{
 background:#688c29;
 color: #1c2905;
}

#formulario
{
 background:#688c29;
 position:absolute;
 padding-top:20px;
 padding-left:20px;
 top:0;
 left:0;
 width:1900px;
 height:100px;
 font-family:arial;
}

input, select
{
 margin-top: 5px;
 margin-bottom: 25px;
 padding: 5px 5px 5px 5px;
 width: 350px;
}

form
{
 margin-top: 20px;
 margin-left: 65px;
}

#processar
{
 margin-top: 5px;
 margin-bottom: 20px;
 padding: 5px 5px 5px 5px;
}

.inputs, .seletor, #processar, #resultado
{
 border-radius:5px;
 background:#ffffff;
 color:#1c2905;
 font-size:18px;
}

.inputs
{
 
}

#resultado
{
 position: absolute;
 bottom: 10px;
 left: 10px;
 width: 400px;
 height: 400px;
 background: #ffffff;
}

#tela
{
 background-color: #ccc;
 height: 800px;
 margin: 42px auto;
 overflow: hidden;
 position: absolute;
 top: 0;
 right: 100px;
 width: 1280px;
 border-radius: 15px;
 box-shadow: 4px 4px 5px #465f1c;
}

#mapa
{
 position: absolute;
 left:0;
 top:0;
 width: 1280px;
}

#movimentacao
{
 position: absolute;
 left:0;
 top:0;
 transition: 2s all;
 -web-kit-transition: 2s all;
 width: 1280px;
}

#movimentacao img
{
 position: absolute;
 left:0;
 top: 0;
}

.oculto
{
 z-index:-100;
}
